mixin nav-content
    ul
        li: a(href="#about") About
        li: a(href="#formation") Formation
        li: a(href="#competences") Compétences
        li: a(href="#xp-pro") Xp pro
        li: a(href="#projets") Projets
        li: a(href="#contact") Contact

header
    .header-position
        h1.logo Mehdi Houacine
        .mobile-nav-hamburger.is-close: span
        nav.site-nav
            +nav-content

        a(href="mailto:mehdi.houacine@edu.esiee.fr").email-link mh@mh.mh
