article.col-1#xp-etudiant
    img(data-label = "my-esiee" src="assets/img/xp/my-esiee.png")
    img(data-label = "kaggle" src="assets/img/xp/kaggle.svg").active
    img(data-label = "dsg" src="assets/img/xp/dsg.png")
    label projets étudiants
