section#formation
    .flex.flex--space-around
        section.col-1
            h1 j'ai étudié en France et au Canada
            p.descriptor A l'école machin machin de machin machin
        section.col-1
            section#vertical-slides
                img(src="assets/img/vertical-slides/esiee-now.png")
                img(src="assets/img/vertical-slides/poly.svg" class="svg").focus
                img(src="assets/img/vertical-slides/esiee-prepa.png")
                img(src="assets/img/vertical-slides/lycee-cugnot.jpg")
