section#competences
    //- http://www.w3schools.com/howto/howto_js_tabs.asp
    ul.tabs
        li: a.tabLink(data-tab="data" href="#" autofocus) Analyse de données
        li: a.tabLink(data-tab="web" href="#").active Dev web
        li: a.tabLink(data-tab="programmation" href="#") Programmation

    article#programmation.tabContent.editor
        .flex.flex--center
            .col-50.flex.flex--center.order2
                .col-1
                    img.histo(src="assets/img/competences/histo-programmation.svg")

            .col-50.flex.flex--center.order1
                .col-1
                    h1.descriptor pour y développer une passion pour la programmation

    article#web.tabContent.editor.active
        h1.descriptor pour étudier le web sur mon temps libre
        .flex.flex--center
            .col-50.flex.flex--center
                .col-1
                    canvas#webFrontEndChart(width="550" height="550")

            .col-50.flex.flex--center
                .col-1
                    canvas#webBackEndChart(width="550" height="550")

    article#data.tabContent.editor
        h1.descriptor pour apprendre à résoudres les problèmes les plus intéressant qui soient
        .flex.flex--center
            .col-50.flex.flex--center
                .col-1
                    canvas#programmationChart(width="550" height="550")

            .col-50.flex.flex--center
                .col-1
                    img.histo(src="assets/img/competences/wordle data lighter.svg")
