section#formation
    .flex.flex--space-around
        section.col-1.formation
            h1.lead j'ai étudié en France et au Canada
            p.descriptor A l'école Polytechnique de Montréal
        section.col-1
            ul#slides
                li: img(src="assets/img/chevron-icon.svg").chevron.chevron-top
                li: img(src="assets/img/vertical-slides/esiee-now.png").beginning
                li: img(src="assets/img/vertical-slides/poly.svg" class="svg").second.focus
                li: img(src="assets/img/vertical-slides/esiee-prepa.png")
                li: img(src="assets/img/vertical-slides/lycee-cugnot.jpg")
                li: img(src="assets/img/chevron-icon.svg").chevron.chevron-bottom
