article.col-1#xp-pro
    img(data-label = "well-ce" src="assets/img/xp/well-ce.svg")
    img(data-label = "MH" src="assets/img/xp/MH.svg").active
    img(data-label = "blu-e" src="assets/img/xp/blu-e.png")
    label expérience professionnelle
