#about
    background-color: $hero-bg-color
    background:
        image: url(#{$imgPath}/about-bg-nb.jpg)
        repeat: no-repeat
        position: 25% center
        size: contain
    .flex
        justify-content: center
    .col-1
        display: flex
        flex-direction: column
        justify-content: flex-start
        padding-left: 170px
        .home-lead
            display: inline-block
        >*
            &::before
                content: ''
        h1
            font:
                size: 40px
                weight: 400
            &::after
                content: ','
        h2
            text-align: right
            font:
                size: 30px
                weight: 300


@media (max-width: 1200px)
    #about
        background:
            size: cover
            position: center bottom
        .flex
            justify-content: center
            align-items: center
        .col-1
            margin-left: 50%
            padding-left: 0

@media (max-width: 600px)
    #about .flex .col-1
        h1
            font:
                size: 28px
                weight: 400
        h2
            font:
                size: 20px
                weight: 300

@media (max-width: 400px)
    #about .flex .col-1
        h1
            font:
                size: 22px
                weight: 400
        h2
            font:
                size: 15px
                weight: 300
